@font-face {
    font-family: 'TehutiBook';
        src: url('/static/fonts/TehutiBook.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }
@font-face {
    font-family: 'TehutiItalic';
        src: url('/static/fonts/TehutiItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
      }

body, html {
  margin: 0;
  padding: 0;
  background: white;
}


/* HEADER
************/

#header {
  font-family: 'TehutiBook';
  border-bottom: 2px solid #101010;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
}

#header h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  text-align: center;
  font-weight: 800;
}

#header p {
  display: inline;
  padding: 0;
  margin-left: 0.5em;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
}

#header p a {
  text-decoration: none;
  color: #101010;
  margin: 0.2em;
}

#header p a:hover {
  text-decoration: none;
  color: #907070;
}


@media (max-width: 28em) {
  #header h1 {
    font-size: 1.25em;
    font-weight: bold;
    display: block;
  }
  #header p {
    font-size: 1.00em;
    display: block;
  }
}

#container {
  padding: 10px;
}


/* PHOTOGALLERY
******************/

#album {
  line-height: 0;
  font-size: 0;
  padding: 5px;
}

#album img {
  border: none;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

.mfp-title {
  font-size: 1.00em;
  letter-spacing: 0.5px;
}


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 1;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*******************
* ABOUT
********************/

@media (min-width: 30em) {
	div.about-image {
		float: left;
		width: 300px;
	}
	
	div.about-text {
		margin-left: 320px;
	}
}

/*******************
* Blog
********************/
div.blog {
  text-align: center;
}

div.blog>a {
  text-decoration: none;
  color: #907070;
}

div.blog-entry {
  margin-bottom: 50px;
}

div.blog>h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  letter-spacing: 0.1em;
  font-size: 2.0em;
  font-weight: 500;
}

@media (min-width: 800px) {
	div.blog>p {
		width: 780px;
		margin-left: auto;
		margin-right: auto;
	}
}
