<div class="col-md-4">
<img src="/images/alex.jpg" style="width: 360px;">
</div>

<div class="col-md-6">
<p>
Hello! My name is Alex Couture-Beil and welcome to my online portfolio. I live in Vancouver BC and like to take photos for fun. That's it.
</p>

<p>
I am a hobbyist photographer who likes to capture moments, tell stories, and ask questions with photographs. 
My first real experience with photography was in highschool where I spent many hours in the dark-room.
</p>

<p>
After a hiatus, and moving to Vancouver, I learned of street photography and combined this with my passion of unicycling. I started a <a href="http://unitog.tumblr.com">blog</a> to capture the reactions of people I encountered while unicycling. This project reignited my passion for photography and now I'm looking forward to becoming a better photographer and taking more interesting pictures.
</p>

<p>
Aside from photography, you can find me <a href="https://github.com/alexcb">writing software</a>, unicycling, brewing beer, kayaking, and enjoying the outdoors.
</p>

</div>
