{% extends "main_page.jinja" %}
{% block content %}
<div id="container">

<div class="about-image">
<img src="static/alex.jpg" style="width: 300px;">
</div>

<div class="about-text">
<p>
I am a hobbyist photographer located in Victoria BC. If you're looking for a headshot or portrait or anything else please reach out.
</p>

<p>My past projects include landscape and street photography; most notably my <a href="http://unitog.tumblr.com">unitog street photography blog</a> which I use to capture the reactions of people I encountered while unicycling.
</p>

<a href="mailto:alex@mofo.ca">alex@mofo.ca</a>

</div>

</div>
{% endblock %}

