{% extends "main_page.jinja" %}
{% block content %}
<div id="container">

<div class="blog">

<h3>{{title}}</h3>
<div>{{date}}</div>

{{text}}

</div>

    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/resize_blog.js"></script>

</div>
{% endblock %}


