{% extends "main_page.jinja" %}
{% block content %}
<div id="container">

<div class="about-image">
<img src="static/alex.jpg" style="width: 300px;">
</div>

<div class="about-text">

<p>Want to book a session? Please send me an email at <a href="mailto:alex@mofo.ca">alex@mofo.ca</a></p>

You can find me online at:
<ul>
<li><a href="https://www.facebook.com/Acouturebeil-photography-111529457103184/">facebook</a></li>
<li><a href="https://www.instagram.com/acouturebeil">instagram</a></li>
</ul>

Some of my unrelated past photography projects can be found at:
<ul>
<li><a href="http://unitog.tumblr.com">my old street photography blog (taken while unicycling)</a></li>
</ul>


</div>

</div>
{% endblock %}

