<!doctype html>
<html lang="en">
<head>
  <title>Alex Couture-Beil Photography</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/magnific-popup.css">
</head>
<body>

  <div id="header">
    <h1>Alex Couture-Beil Photography</h1>
    <p>
      {% for gallery in galleries %}
      <a href="/{{gallery.url}}">{{gallery.name}}</a>
      {% endfor %}
      <a href="/blog/index.html">Blog</a>
      <!--<a href="/about.html">About</a>-->
      <a href="/contact.html">Contact</a>
    </p>
  </div>

  {% block content %}{% endblock %}

  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.js"></script>  

  {% block script %}{% endblock %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-57558131-1', 'auto');
    ga('send', 'pageview');
  
  </script>

</body>
</html>

