{% extends "main_page.jinja" %}
{% block content %}
<div id="container">

<div class="about-image">
<img src="/static/alex.jpg" style="width: 300px;">
</div>

<div class="about-text">
Hello! My name is Alex Couture-Beil and welcome to my online portfolio. I live in Vancouver BC and like to take photos for fun. That's it.

<p>
I am a hobbyist photographer who likes to capture moments, tell stories, and ask questions with photographs. My more notable photography project is my <a href="http://unitog.tumblr.com">unitog street photography blog</a> which I use to capture the reactions of people I encountered while unicycling. This project reignited my passion for photography and now I'm looking forward to becoming a better photographer and taking more interesting pictures.
</p>

<p>
Aside from photography, you can find me <a href="https://github.com/alexcb">writing software</a>, unicycling, brewing beer, kayaking, and enjoying the outdoors.
</p>

</div>

</div>
{% endblock %}

