{% extends "main_page.jinja" %}
{% block content %}
<div id="container">

<div class="about-image">
<img src="static/alex.jpg" style="width: 300px;">
</div>

<div class="about-text">
<p>
I am a hobbyist photographer located in Victoria BC. I'm looking to gain more experience with portraitures and am keen to work with models
with any levels of experience.
</p>

<p>My past projects include landscape and street photography; most notably my <a href="http://unitog.tumblr.com">unitog street photography blog</a> which I use to capture the reactions of people I encountered while unicycling.
</p>

</div>

</div>
{% endblock %}

