{% extends "main_page.jinja" %}
{% block content %}
<div id="container">

If you're interested in shooting with me, please send me a note.
<ul>
<li><a href="mailto:alex@mofo.ca">alex@mofo.ca</a></li>
<li><a href="https://www.facebook.com/superalex">facebook</a></li>
</ul>

</div>
{% endblock %}

