<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

<div id="content">
  <p>Why, hello there!</p>
</div>

  {% for gallery in galleries %}
  <a href="{{ gallery.gallery }}">{{gallery.gallery}}</a>
  {% endfor %}

</body>
</html>
